.addTask {
  position: relative;
  background-color: #444;
  padding: 3rem;
}

.addTask span {
  position: absolute;
  right: -3rem;
  top: -3rem;
  background-color: coral;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.addTask h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.addTask input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  margin-bottom: 1.5rem;
}

.action {
  display: flex;
  flex-direction: column;
}

.action button {
  border: none;
  background-color: coral;
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

.action button:hover,
.addTask span:hover {
  background-color: rgb(219, 70, 16);
}

.action button:disabled {
  background-color: #666;
}
