.editTask {
  position: relative;
  background-color: #444;
  padding: 3rem;
}

.editTask span {
  position: absolute;
  right: -3rem;
  top: -3rem;
  background-color: coral;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.editTask h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.editTask input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 100%;
  margin-bottom: 1.5rem;
  outline: none;
}

.action {
  display: flex;
  flex-direction: column;
}

.action button {
  border: none;
  background-color: coral;
  padding: 1rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

.action button:hover,
.editTask span:hover {
  background-color: rgb(219, 70, 16);
}

.action button:disabled {
  background-color: #666;
}

.checkControl {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.formControl label {
}

.editTask .checkbox {
  width: 1.8rem;
  display: block;
  margin: 0;
}
